/.vs
/out
/build
/cmake-build-*
/CMakeSettings.json
.vs/
.vscode/
.idea/
*.user
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
*.ninja
*.ninja_deps
*.ninja_log
*.obj
*.o
*.lib
*.exe
*.dll
*.so
*.dylib
*.a
/data/scores.txt
